
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
    <h1>wellcome to textutils</h1>
    <form action="/analyze" method="get">
        <textarea name="Pera" id="" cols="30" rows="10" style="margin: 0px; width: 286px; height: 69px;"></textarea>
        <br>
        <input type="checkbox" name="Rpunc">REMOVE PUNCTUATIONS<br>
        <input type="checkbox" name="Upper" >UPPERCASE<br>
        <input type="checkbox" name="Lower" >LOWERCASE<br>
        <input type="checkbox" name="Rnewline" >Remove New Line<br>
        <button type="submit">Get Analyze</button>
        <br>


</body>